<template>
    <div>
        <div v-if="!loading">
            <v-row
                class="container"
                dense
                v-for="appointmentsOfDay in appointmentsByDay"
                :key="appointmentsOfDay.day"
            >
                <p class="headline secondary--text">
                    {{ appointmentsOfDay.day }}
                </p>
                <v-col
                    cols="12"
                    v-for="appointment in appointmentsOfDay.appointments"
                    :key="appointment.id"
                >
                    <v-card class="d-inline-block mx-auto" width="100%">
                        <v-container>
                            <v-row>
                                <v-col cols="3" align="center" class="pa-0">
                                    <p
                                        class="headline primary--text vertically-centered"
                                    >
                                        {{ appointment.formattedTime }}
                                    </p>
                                </v-col>
                                <v-col cols="7" class="pa-0">
                                    <p class="title secondary--text mb-1">
                                        {{ appointment.person.name }}
                                    </p>
                                    <p class="body-2 secondary--text mb-0">
                                        {{ appointment.person.email }}
                                    </p>
                                    <p class="body-2 secondary--text mb-0">
                                        {{ appointment.person.formattedPhone }}
                                    </p>
                                </v-col>
                                <v-col cols="2" align="center" class="pa-0">
                                    <v-btn
                                        text
                                        icon
                                        color="primary"
                                        class="vertically-centered"
                                        :disabled="cannotCancel(appointment)"
                                        @click="showCancelModal(appointment)"
                                    >
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card>
                </v-col>
            </v-row>
        </div>
        <div class="text-center" v-else>
            <v-progress-circular
                indeterminate
                color="primary"
            ></v-progress-circular>
        </div>

        <v-dialog v-model="cancelModal" max-width="290">
            <v-card>
                <v-card-title class="headline primary--text"
                    >Deseja cancelar esse agendamento?</v-card-title
                >
                <v-card-text
                    >O horário ficará disponível para que outros pacientes
                    agendem.</v-card-text
                >

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="hideCancelModal"
                        >Não</v-btn
                    >
                    <v-btn color="primary" text @click="cancel">Sim</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator"
import { Appointment } from "@/appointment/models/Appointment"
import { AppointmentHttpApiClient } from "@/appointment/services/AppointmentHttpApiClient"
import { AppointmentFormatter } from "@/appointment/services/AppointmentFormatter"
import { DatetimeHelper } from "@/shared/services/DatetimeHelper"
import { MIN_DATE } from "@/appointment/models/constants"

@Component
export default class Appointments extends Vue {
    appointmentsByDay: AppointmentsOfDay[] = []
    loading: boolean = true
    cancelModal: boolean = false
    appointmentToCancel: Appointment | null = null

    async mounted() {
        this.loading = true
        await this.getAppointments()
        this.loading = false
    }

    async getAppointments() {
        try {
            const appointments = await AppointmentHttpApiClient.getAll(
                DatetimeHelper.today()
            )
            this.formatAppointments(appointments)
        } catch (e) {
            this.$emit("error", e)
        }
    }

    formatAppointments(appointments: Appointment[]) {
        const orderedAppointments = AppointmentFormatter.orderByDatetime(
            appointments
        )
        const groupedAppointments = AppointmentFormatter.groupByDay(
            orderedAppointments
        )
        this.appointmentsByDay = []
        groupedAppointments.forEach(
            (appointmentsOfDay: Appointment[], day: number) => {
                this.appointmentsByDay.push({
                    day: DatetimeHelper.formattedDate(day),
                    appointments: appointmentsOfDay
                })
            }
        )
    }

    cannotCancel(appointment: Appointment) {
        return appointment.datetime < DatetimeHelper.now() + MIN_DATE
    }

    showCancelModal(appointment: Appointment) {
        this.appointmentToCancel = appointment
        this.cancelModal = true
    }

    hideCancelModal() {
        this.appointmentToCancel = null
        this.cancelModal = false
    }

    async cancel() {
        this.loading = true
        this.cancelModal = false

        try {
            await AppointmentHttpApiClient.cancel(this.appointmentToCancel!)
            this.appointmentToCancel = null
            await this.getAppointments()
        } catch (e) {
            this.$emit("error", e)
        }

        this.loading = false
    }
}

interface AppointmentsOfDay {
    day: string
    appointments: Appointment[]
}
</script>

<style scoped>
.container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
</style>
