<template>
    <v-container data-app>
        <p class="display-1 secondary--text">Selecione um horário</p>
        <p class="headline primary--text">{{ formattedDate }}</p>

        <v-row class="mb-6" no-gutters align="center" justify="center">
            <v-col :cols="2">
                <v-btn
                    text
                    icon
                    x-large
                    color="secondary"
                    @click="previous"
                    :disabled="previousDisabled"
                >
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
            </v-col>
            <v-col :cols="8">
                <TimePicker
                    :date="date"
                    :unavailables="unavailables"
                    v-if="!loading"
                    @select="select"
                />
                <v-progress-circular
                    indeterminate
                    color="primary"
                    v-else
                ></v-progress-circular>
            </v-col>
            <v-col :cols="2">
                <v-btn
                    text
                    icon
                    x-large
                    color="secondary"
                    @click="next"
                    :disabled="nextDisabled"
                >
                    <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator"
import { Appointment } from "@/appointment/models/Appointment"
import TimePicker from "@/appointment/components/TimePicker.vue"
import { Datetime } from "@/appointment/models/Datetime"
import { Patient } from "@/appointment/models/Patient"
import { AppointmentHttpApiClient } from "@/appointment/services/AppointmentHttpApiClient"
import { DatetimeHelper } from "@/shared/services/DatetimeHelper"
import { MIN_DATE, MAX_DATE } from "@/appointment/models/constants"

@Component({
    components: {
        TimePicker
    }
})
export default class DatePicker extends Vue {
    date: number = DatetimeHelper.soonerWeekday()
    formattedDate = DatetimeHelper.formattedDate(this.date)
    unavailables: number[] = []
    loading: boolean = true

    get previousDisabled() {
        const previousDay = DatetimeHelper.previousWeekday(this.date)
        return previousDay < DatetimeHelper.today() + MIN_DATE
    }

    get nextDisabled() {
        const nextDay = DatetimeHelper.nextWeekday(this.date)
        return nextDay > DatetimeHelper.today() + MAX_DATE
    }

    async previous() {
        this.loading = true
        this.date = DatetimeHelper.previousWeekday(this.date)
        this.formattedDate = DatetimeHelper.formattedDate(this.date)
        await this.getAppointments()
        this.loading = false
    }

    async next() {
        this.loading = true
        this.date = DatetimeHelper.nextWeekday(this.date)
        this.formattedDate = DatetimeHelper.formattedDate(this.date)
        await this.getAppointments()
        this.loading = false
    }

    select(slot: Datetime) {
        this.$emit("select", slot)
    }

    async getAppointments() {
        try {
            const appointments = await AppointmentHttpApiClient.getByDay(
                this.date
            )
            this.unavailables = appointments.map(
                (appointment: Appointment) => appointment.datetime
            )
        } catch (e) {
            this.$emit("error", e)
        }
    }

    async mounted() {
        this.loading = true

        await this.getAppointments()
        this.loading = false
    }
}
</script>

<style scoped></style>
