<template>
    <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
            color="secondary"
            v-model="name"
            :rules="nameRules"
            label="Nome"
            required
        ></v-text-field>

        <v-text-field
            color="secondary"
            v-model="email"
            :rules="emailRules"
            label="Email"
            required
        ></v-text-field>

        <v-text-field
            color="secondary"
            v-model="phone"
            :rules="phoneRules"
            label="Telefone"
            required
        ></v-text-field>

        <v-btn
            :disabled="!valid"
            class="mr-4"
            @click="schedule"
            color="primary"
        >
            Agendar
        </v-btn>

        <v-btn @click="cancel">
            Cancelar
        </v-btn>
    </v-form>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator"
import TimePicker from "@/appointment/components/TimePicker.vue"
import { Patient } from "@/appointment/models/Patient"

@Component({
    components: {
        TimePicker
    }
})
export default class PatientForm extends Vue {
    valid: boolean = true
    name: string = ""
    email: string = ""
    phone: string = ""

    nameRules = [
        (v: string) => !!v || "Insira seu nome",
        (v: string) =>
            (v && v.length <= 80) ||
            "Que nome grande! O máximo são 80 caracteres"
    ]
    emailRules = [
        (v: string) => !!v || "Precisamos do seu email",
        (v: string) =>
            /.+@.+\..+/.test(v) || "Acho que esse email não é válido..."
    ]
    phoneRules = [
        (v: string) => !!v || "Precisamos do seu telefone também",
        (v: string) =>
            (v && v.length == 11) ||
            "Insira o número com DDD. Ex: 21 987654321",
        (v: string) => /^[0-9]*$/.test(v) || "Use apenas dígitos"
    ]

    schedule() {
        if ((this.$refs.form as any).validate()) {
            const patient = new Patient("", this.name, this.email, this.phone)
            this.$emit("schedule", patient)
        }
    }

    cancel() {
        this.$emit("cancel")
    }
}
</script>

<style scoped></style>
