<template>
    <v-layout wrap align-center>
        <v-flex v-for="slot in slots" :key="slot.datetime.value" xs6 md3>
            <v-card flat>
                <v-card-text>
                    <v-btn
                        outlined
                        color="secondary"
                        @click="select(slot.datetime)"
                        :disabled="!slot.available"
                    >
                        {{ slot.datetime.formattedTime }}
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator"
import {
    getAppointmentSlots,
    Appointment
} from "@/appointment/models/Appointment"
import { Datetime } from "@/appointment/models/Datetime"
import { DatetimeHelper } from "@/shared/services/DatetimeHelper"
import { MIN_DATE } from "@/appointment/models/constants"

@Component
export default class TimePicker extends Vue {
    @Prop() date!: number
    @Prop() unavailables!: number[]

    slots: Slot[] = getAppointmentSlots().map((slot: number) => {
        return {
            datetime: new Datetime(this.date + slot),
            available: true
        }
    })

    select(slot: Datetime) {
        this.$emit("select", slot)
    }

    mounted() {
        this.slots = this.slots.map((slot: Slot) => {
            if (this.unavailables.includes(slot.datetime.value)) {
                slot.available = false
            }
            if (slot.datetime.value < DatetimeHelper.now() + MIN_DATE) {
                slot.available = false
            }
            return slot
        })
    }
}

interface Slot {
    datetime: Datetime
    available: boolean
}
</script>

<style scoped></style>
