<template>
    <v-app id="desafio-cuidas">
        <v-navigation-drawer v-model="drawer" app>
            <v-list dense>
                <v-list-item-group v-model="item" color="secondary">
                    <v-list-item link href="/patient">
                        <v-list-item-action>
                            <v-icon>mdi-medical-bag</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Paciente</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link href="/admin">
                        <v-list-item-action>
                            <v-icon>mdi-account-tie</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Administrador</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app color="surface" dark>
            <v-app-bar-nav-icon
                class="primary--text"
                @click.stop="drawer = !drawer"
            />
            <v-toolbar-title class="primary--text"
                >Desafio Cuidas</v-toolbar-title
            >
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"

@Component({
    components: {}
})
export default class App extends Vue {
    drawer: boolean | null = null

    menu: Map<string, number> = new Map<string, number>([
        ["patient", 0],
        ["admin", 1]
    ])

    get item() {
        if (this.$route.name) {
            return this.menu.get(this.$route.name) || 0
        } else {
            return 0
        }
    }
}
</script>

<style></style>
