<template>
    <v-container fluid>
        <v-row align="center" justify="center">
            <v-col cols="12">
                <Appointments @error="showError" />
            </v-col>
        </v-row>

        <v-snackbar v-model="error" :timeout="0">
            {{ errorMessage }}
            <v-btn color="primary" text @click="error = false">Fechar</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import Appointments from "@/appointment/components/Appointments.vue"

@Component({
    components: {
        Appointments
    }
})
export default class AdminScreen extends Vue {
    error: boolean = false
    errorMessage: string = ""

    showError(e: Error) {
        this.error = true
        this.errorMessage = "Ocorreu um erro inesperado"
    }
}
</script>

<style></style>
