<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col class="text-center">
                <DatePicker
                    @select="select"
                    v-if="!scheduling"
                    @error="showError"
                />
            </v-col>
        </v-row>

        <v-dialog v-model="appointmentModal" max-width="600">
            <v-card class="mx-auto" max-width="600" v-if="appointmentModal">
                <v-toolbar color="primary" dark>
                    <v-toolbar-title>Agendamento</v-toolbar-title>
                </v-toolbar>
                <v-card-text class="pt-4">
                    <p class="headline secondary--text">
                        {{ selectedSlot.formattedDatetime }}
                    </p>
                    <v-container>
                        <PatientForm
                            @schedule="schedule"
                            @cancel="hideAppointmentModal"
                        />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="scheduling" hide-overlay persistent width="300">
            <v-card color="primary" dark>
                <v-card-text v-if="!scheduled">
                    Estamos agendando sua consulta
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
                <v-card-text v-else class="text-center">
                    Consulta agendada!
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="error" :timeout="0">
            {{ errorMessage }}
            <v-btn color="primary" text @click="error = false">Fechar</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import DatePicker from "@/appointment/components/DatePicker.vue"
import PatientForm from "@/appointment/components/PatientForm.vue"
import { Datetime } from "@/appointment/models/Datetime"
import { Patient } from "@/appointment/models/Patient"
import { Appointment } from "@/appointment/models/Appointment"
import { AppointmentHttpApiClient } from "@/appointment/services/AppointmentHttpApiClient"

@Component({
    components: {
        DatePicker,
        PatientForm
    }
})
export default class PatientScreen extends Vue {
    appointmentModal: boolean = false
    selectedSlot: Datetime | null = null
    scheduling: boolean = false
    scheduled: boolean = false
    error: boolean = false
    errorMessage: string = ""

    select(slot: Datetime) {
        this.showAppointmentModal(slot)
    }

    showAppointmentModal(slot: Datetime) {
        this.selectedSlot = slot
        this.appointmentModal = true
    }

    hideAppointmentModal() {
        this.selectedSlot = null
        this.appointmentModal = false
    }

    async schedule(patient: Patient) {
        this.scheduling = true
        const appointment = new Appointment(
            "",
            patient,
            this.selectedSlot!.value
        )
        try {
            await AppointmentHttpApiClient.schedule(appointment)
            this.finishScheduling()
        } catch (e) {
            this.scheduling = false
            this.showError(e)
        }
        this.hideAppointmentModal()
    }

    finishScheduling() {
        this.scheduled = true
        setTimeout(() => {
            this.scheduling = false
            this.scheduled = false
        }, 1000)
    }

    showError(e: Error) {
        this.error = true
        this.errorMessage = "Ocorreu um erro inesperado"
    }
}
</script>

<style></style>
